-f https://download.pytorch.org/whl/cpu/torch-2.3.0%2Bcpu-cp310-cp310-linux_x86_64.whl
torch==2.3.0+cpu

huggingface_hub==0.23.*
gradio==4.39.*
transformers==4.43.*
accelerate==0.33.*
pytest
tox

